.nvc_trigger_entry
  .entry_section
    Trigger observation:
  .entry_input
    = @nvc_trigger_entry.trigger_object

  .entry_section
    My needs:
  .entry_input
    = @nvc_trigger_entry.my_needs
  
  .entry_section
    My request:
  .entry_input
    = @nvc_trigger_entry.my_request

  .entry_section
    Her/His feelings:
  .entry_input
    = @nvc_trigger_entry.her_his_feelings

  .entry_section
    Her/His needs:
  .entry_input
    = @nvc_trigger_entry.her_his_needs

  .entry_section
    My amended request:
  .entry_input
    = @nvc_trigger_entry.my_amended_request
